body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-image: url("../assets/back.jpg");
    background-size: cover;
  }
  
  .container {
    margin: auto;
    text-align: center;
    width: 300px;
    height: 169px;
    background: rgba(251, 249, 249, 0.872);
    border-radius: 10px;
    backdrop-filter: blur(4px);
  }
  
  h1 {
    margin-bottom: 30px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #3e8e41;
  }
  